#bottom-bar {
  float: right;
}

button {
    margin-top: 10px;
    background-color: #1A5276;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 20px;
    &:focus{
        outline:0;
    }
  }

.closebutton{
    border-radius: 5px;
    color: #1A5276;
    background-color: white;
    display: inline-block;
    width: 80px;
    margin-right: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 11px;
    font-stretch: 100%;
    &:hover {
      color: #477491;
      cursor: pointer;
      }
  }

  textarea{
    resize: none;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

.submitbutton{
    border-radius: 5px;
    background-color: #1A5276;
    color: white;
    display: inline-block;
    width: 80px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 11px;
    font-stretch: 100%;
    &:hover {
      background-color: #477491;
      cursor: pointer;
      }
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

  .error{
    color: #a94442;
  }

  .modal-footer{
    padding: 5px;
  }

  #snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: -1; 
    left: 50%; 
    bottom: 123px; 
  }
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 90px; opacity: 0;} 
    to {bottom: 123px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 90px; opacity: 0;}
    to {bottom: 123px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 123px; opacity: 1;} 
    to {bottom: 90px; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 123px; opacity: 1;}
    to {bottom: 90px; opacity: 0;}
  }
  