<div *ngIf="!isEdit">
    <form #themeForm="ngForm" customMin>
         <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="model.title" maxlength="150" #title="ngModel">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
            <div *ngIf="title.errors.required" class="error">
              A title is required.
            </div>
          </div>
        </div> 
      
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea rows="5" class="form-control" name="description" id="description" required [(ngModel)]="model.description" maxlength="1000" #description="ngModel"></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
            <div *ngIf="description.errors.required">
              A description is required.
            </div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="closeDt">Closing Date:</label>
          <input type="date" class="form-control" id="closeDt" required [(ngModel)]="model.closeDt" name="closeDt" [customMin]="minDate" #closeDt="ngModel">
          <div *ngIf="closeDt.hasError('customMin')" class="error">
              Invalid Closing Date. Please select a future date.
          </div>
        </div>
      
        <div class="modal-footer">
          <span id="bottom-bar">
            <button type="closebutton" class="closebutton" data-dismiss="modal">cancel</button>
            <button type="submit" (click)="onSubmit(themeForm)" class="submitbutton">Submit</button>
          </span>
        </div>
      </form>
</div>

<div *ngIf="isEdit && theme">
    <form #editThemeForm="ngForm" customMin>
         <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="model.title" maxlength="140" #title="ngModel">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
            <div *ngIf="title.errors.required" class="error">
              A title is required.
            </div>
          </div>
        </div> 
      
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea rows="5" class="form-control" name="description" id="description" required [(ngModel)]="model.description" maxlength="1000" #description="ngModel">{{model.description}}</textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
            <div *ngIf="description.errors.required">
              A description is required.
            </div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="closeDt">Closing Date:</label>
          <input type="date" class="form-control" id="closeDt" required [(ngModel)]="model.closeDt" name="closeDt" [customMin]="minDate" #closeDt="ngModel">
          <div *ngIf="closeDt.hasError('customMin')" class="error">
              Invalid Closing Date. Please select a future date.
          </div>
        </div>
      
        <div class="modal-footer">
          <span id="bottom-bar">
            <button type="closebutton" class="closebutton" data-dismiss="modal">cancel</button>
            <button type="submit" (click)="onSubmit(editThemeForm)" data-dismiss="modal" class="submitbutton">Submit</button>
          </span>
        </div>
      </form>
</div>

