<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BTR.dll" forwardWindowsAuthToken="true" startupTimeLimit="3600" requestTimeout="23:00:00" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 9265d626-5d3d-4b4a-9bc1-b86ce22d3fa0-->