@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$laptop-only: "only screen and (min-width : 769px)";

.upvote.active{
  color: #80c342;
}

.downvote.active{
  color: #ee3524;
}
ul {
  list-style-type: none;
  padding: 10px 0;
}

li {
  display: list-item;
}

:host >>> {
  a {
    color: #1A5276;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.meta {
  font-size: 12px;
  font-family: 'IBM Plex Serif', serif;
  color: #696969;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  a {
    color: #1A5276;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .time {
    padding-left: 5px;
	font-weight: normal;
  }
  .points {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
  }
  
  .divider {
	font-size: 10px;
  }
}

.meta-collapse {
  margin-bottom: 0px;
}

.deleted-meta {
  font-size: 12px;
  color: #1A5276;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 30px 0;
  a {
    color: #1A5276;
    text-decoration: none;
  }
}

.collapse {
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.comment-tree {
  margin-left: 24px;
  text-align: left;
  
}

.comment-options{
  margin-left: 5px;
  margin-bottom: 10px;
}

.comment-text {
  display:inline-block;
  font-size: 14px;
  text-align: left;
  margin-left: 4px;
  color: #000000;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
  white-space: pre-wrap;

  overflow: hidden;
  box-sizing: border-box;
  max-width: 1000px;
}

.subtree {
  padding: 0;
  list-style-type: none;
}

.collapse-comment {
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.glyphicon.glyphicon-option-horizontal {
	top: 0.2em;
}

.glyphicon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
  &:hover{
	opacity: 0.75;
	cursor: pointer;
  }
}

.glyphicon-chevron-down{
  position: relative;
  display: inline-block;
  vertical-align:top;
  padding-top: 2px;
}

#edited{
  font-style:italic;
}

font{
	margin-left: 12px;
	font-size: 10px;
	&:hover{
		opacity: 0.75;
		cursor: pointer;
    text-decoration: underline;
  }
}



::-webkit-input-placeholder {
    color:grey;
}

::-moz-placeholder {
    color:grey;
}

::-ms-placeholder {
    color:grey;
}

::placeholder {
    color:grey;
}

.buttonwrapper {
  display: inline-block;
}

input{
  background-color: transparent;
  
}

button {
  width: 76.29px;
  height: 22px;
  border-radius: 5px;
  position: absolute;
  bottom: 1.8px;
  right: 3px;
  border: none;
  background-color: #1A5276;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 9px;
  font-stretch: 100%;
  &:hover {
	background-color: #477491;
	cursor: pointer;
  }
  &:focus{
	outline:0;
  }
}

.bold {
	color: #848585;
	margin-left: 5px;
	top: 5px;
	position: relative;
	padding: 10px;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
  }
}

i {
	color: #848585;
	margin-left: 5px;
	top: 5px;
	position: relative;
	padding: 5px;
	font-style: italic;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
  }
}

.cancel {
	color: #848585;
	margin-left: 70px;
	top: 3.5px;
	position: absolute;
	padding: 5px;
	text-transform: uppercase;
	font-size: 9px;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
  }
}

textarea {
    resize: none;
	border-radius: 5px;
	border-color: #eeeeef;
	font-weight: normal;
	border-width: 2px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	&:focus{
		outline:0;
  }
}

.bottom-bar{
 font-family: 'IBM Plex Sans', sans-serif;
 position: absolute;
 width: 99.7%;
 margin-left: .5px;
 bottom: 5.5px;
 height: 27px;
 display: block;
 color: #F6F7F8;
 background-color: #eeeeef;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 z-index: 0;
 
}

.input-group{
  margin-left: 4px;
}

#edit{
  display: inline-block;
}

#reply{
  margin-left: 9px;
}
