<div class="main-content">
	<header id="header"> 
		<div class="name">
			<font [ngClass]="{'active': this.sorting === SORT_OPTION.NEWEST}" (click)="this.sortThemes(this.themes, SORT_OPTION.NEWEST)"> newest </font>
			<font [ngClass]="{'active': this.sorting === SORT_OPTION.OLDEST}" (click)="this.sortThemes(this.themes, SORT_OPTION.OLDEST)"> oldest </font>
			<font [ngClass]="{'active': this.sorting === SORT_OPTION.CLOSING_SOONEST}" (click)="this.sortThemes(this.themes, SORT_OPTION.CLOSING_SOONEST)"> closing soonest </font>
			<font [ngClass]="{'active': this.sorting === SORT_OPTION.CLOSING_LATEST}" (click)="this.sortThemes(this.themes, SORT_OPTION.CLOSING_LATEST)"> closing latest </font>
			<font [ngClass]="{'active': this.filterActive(FILTER_OPTION.FILTER_CLOSED_THEMES)}" (click)="this.toggleFilter(FILTER_OPTION.FILTER_CLOSED_THEMES)"> toggle closed </font>
			<font [ngClass]="{'active': this.filterActive(FILTER_OPTION.FILTER_OPEN_THEMES)}" (click)="this.toggleFilter(FILTER_OPTION.FILTER_OPEN_THEMES)"> toggle open </font>
		</div>
		<span id="right" class="toggle"> <mat-slide-toggle> open/close </mat-slide-toggle> </span>
	</header>
	<div *ngIf="!themes" class="loader"> </div>
	<div *ngIf="themes">
		<ul class="theme-list">
			<li *ngFor="let theme of this.filterThemes(themes)" class="post">
				<div class="theme-block">
					<div>
						<a class="title" [routerLink]="['/themes/' + theme.themeId]"> 		
							{{ theme.title }}
						</a>
						<span id="right">
							Status: <span id="status" [ngStyle]="{'color': theme.status === 'open' ? 'green' : 'red'}">{{theme.status}}</span>
						</span>
					</div>
					<div class="subtext-laptop">
						Posted by <em>{{ theme.owner }}</em> {{ theme.openDt | amTimeAgo }}
						<span id="right">
								<span class="glyphicon glyphicon-time" id="time"></span> 
								<span *ngIf="theme.status === 'open'"> {{theme.closeDt | amDifference : null : 'days' }} days left</span>
								<span *ngIf="theme.status === 'closed'"> {{theme.closeDt | amTimeAgo }} </span>
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>


