<div *ngIf="this.idea" class="meta" [class.meta-collapse]=collapse id="idea.postId">
	<b [hidden]="collapse" *ngIf="theme.status === 'open'">
		<span [ngClass]="{'active': idea.userVoteDirection === 1}" class="upvote glyphicon glyphicon-chevron-up" (click)=upvote() > </span> 
	</b>
	<span class="collapse-comment" (click)="collapse=!collapse"> [{{collapse ? '+' : '-'}}] </span> 
	<a> {{idea.owner}} </a> 
	<span class="points">{{idea.score}} points</span>
	<span class="divider">·</span>
	<span class="time" *ngIf="theme.status === 'open'">Posted {{idea.submitDt | amTimeAgo}}</span>
	<span class="time" *ngIf="theme.status === 'closed'">Updated {{theme.closeDt | amTimeAgo}}</span>
	<span class="time" id="edited" *ngIf="idea.modifiedDt != idea.submitDt "> 
		<span class="divider">·</span>	
		edited {{ idea.modifiedDt | amTimeAgo }}</span>
	<span *ngIf="theme.status === 'closed'">
		<span class="divider">·</span>
		<span *ngIf="statuses" class="status">{{statuses[0]?.statusCode | EnumToString:ideaStatus}}</span>
	</span>

	<div [hidden]="collapse">
		<span [ngClass]="{'active': idea.userVoteDirection === -1}" class="downvote glyphicon glyphicon-chevron-down"  *ngIf="theme.status === 'open'" (click)=downvote() [hidden]="collapse"></span>	
		<span [hidden]="collapseEdit"> 
			<span class="comment-text" [hidden]="collapse">{{idea.message}}</span> 
		</span>	
		<span  [hidden]="!collapseEdit" class="editbox">
			<span class="input-group" id="edit">
				<textarea rows="5" cols="50" [(ngModel)]="editIdea" form="edit" id="edit">{{idea.message}}</textarea>
				<div class="bottom-bar"> 
					<span (click)="collapseEdit=!collapseEdit" class="cancel"> cancel </span>
					<button type="submit" (click)=patchIdea(editIdea) form="edit" value="Submit">Submit</button> 
				</div>
			</span>
		</span>
	</div>
	
	<div class="response-block" *ngIf="theme.status === 'closed' && statuses">
		<div class="responses" *ngIf="statuses.length > 0"> 
			<li *ngFor="let response of statuses" >
				<span id="date">{{response.submitDt | amDateFormat:'LL' }} ({{response.statusCode | EnumToString:ideaStatus}}):</span> 
				<span> {{response.response}} </span>
			</li>
		</div>
	</div>

	<div class="admin-bar" *ngIf="theme.status === 'closed' && User.isAppAdmin">
		<app-status-form [idea]="idea"></app-status-form>
    </div>
	<div [hidden]="collapse" *ngIf="theme.status === 'open'">
		<div class="comment-options">
			<font (click)="collapseReply=!collapseReply"> Reply </font> 
			<font *ngIf="canEdit()" (click)="collapseEdit=!collapseEdit"> Edit </font>
			<font *ngIf="canDelete()" (click)="deleteIdea()"> Delete </font>
			<span [hidden]="!collapseReply">
				<div class="input-group" id="reply">
					<textarea rows="5" cols="50" minlength="1" [(ngModel)]="input" form="comment" id="comment" placeholder="What are your thoughts?"></textarea>
					<div class="bottom-bar"> 
						<span (click)="collapseReply=!collapseReply" class="cancel"> cancel </span>
						<button type="submit" [disabled]="!input" (click)=send(input) form="comment" value="Submit">Reply</button> 
					</div>
				</div>
			</span>
		</div>
	</div>

	<div class="comment-tree" *ngIf="idea.comments && theme.status === 'open'">
		<div [hidden]="collapse">
			<ul class="subtree">
				<li *ngFor="let subComment of idea.comments" >
					<comment-tree collapse=true [comment]=subComment></comment-tree>
				</li>
			</ul>
		</div>
	</div>
</div>







